html, body {
    margin: 0;
    padding: 0;
    background: #21201c;
}

body {
    background: #fff url("/media/img/content_bg.jpg") 0px 148px repeat-x;
}

div#header_wrapper {
    background: #fff url("/media/img/header_bg.jpg") repeat-x;
}

div#header {
    line-height: 100px;
    height: 100px;
    width: 860px;
    margin: 0 auto;
}

div#header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

div#header h1 a {
    text-decoration: none;
    color: #fff;
}

div#header h1 a:hover {
    color: #ffcc33;
}

/** Having the icon split into two images allows for better
 *  compatibility or else Opera dev wouldn't render correctly **/
div#header img {
    float: left;
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

div#navigation img {
    float: left;
    height: 50px;
    width: 100px;
    margin-right: 10px;
}

div#navigation {
    background: #fff url("/media/img/nav_bar_bg.jpg") repeat-x;
    height: 50px;
}

div#navigation_wrapper {
    width: 860px;
    margin: 0 auto;
    position: relative;
}

div#navigation ul {
    position: absolute;
    right: 0;
    margin: 0 auto;
    float: right;
}

div#navigation ul li {
    display: inline;
    float: left;
}

div#navigation ul li a {
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: block;
    width: 90px;
    text-align: center;
    height: 50px;
}

div#navigation ul li a:hover {
    background: url("/media/img/nav_bar_hover_bg.jpg") repeat-x;
}

div#content_wrapper {
    position: relative;
    height: auto !important;
    min-height: 100%;
    margin-top: 0;
    width: 860px;
    margin: 0 auto;
    background: #fff;
    padding-bottom: 10em;
}

div#sidebar {
    background: #fff url("/media/img/sidebar_bg.jpg") no-repeat;
    width: 270px;
    float: right;
    min-height: 300px;
    padding-bottom: 10em;
}

div#sidebar h3 {
    background: #666;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 20px;
    margin-bottom: 0;
}

div#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div#sidebar ul li {
    border: 1px solid #ccc;
    border-width: 0 0 1px;
    list-style: none;
}

div#sidebar ul li a {
    color: #666;
    text-decoration: none;
    display: block;
    padding: 2px 40px;
}

div#sidebar ul li a:hover {
    background: #999;
    color: #fff;
}

div#content {
    height: 100%;
    min-height: 100%;
    float: left;
    width: 530px;
    background: #fff;
    padding: 15px;
}

div#footer {
    background: #45403a url("/media/img/footer_bg.jpg") repeat-x;
    position: absolute;
    bottom: 0;
    width: 100%;
}

div#footer h3 {
    margin-top: 0;
}

div#wrapper {
    position: relative;
}

p#footer_p {
    background: #21201c;
    text-align: center;
    color: #ccc;
    clear: right;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

div#footer_wrapper {
    margin: 0 auto;
    width: 860px;
}

div#footer_text {
    padding: 20px 45px;
    background: #21201c;
    color: #ccc;
    width: 180px;
    line-height: 19px;
    font-size: 13px;
    float: right;
    margin-bottom: -20px;
}

div#footer_text a {
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
    color: #ccc;
}

div.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/** inline_form classes and styles **/
div.field_wrapper div.label {
    width: 150px;
    padding-right: 15px;
    float: left;
    text-align: left;
    font-weight: bold;
    font-size: 0.75em;
}

div.field_wrapper div.field {
    float: left;
    margin-left: 25px;
}

div.field_wrapper ul.errorlist {
    margin-left: 190px;
}

/** multiitem_table classes and styles **/
.multiitem_table textarea {
    height: 20px;
    overflow: hidden;
    resize: none;
    white-space: nowrap;
}

.multiitem_table input {
    width: 100px
}

.multiitem_table textarea:focus {
    height: 40px;
    white-space: normal;
}

.multiitem_table td {
    vertical-align: bottom;
}

.multiitem_table th {
    text-align: left;
}

.multiitem_table {
    border-collapse: collapse;
}

/** Misc classes and styles **/
div#content table {
    width: 90%;
}

div.shortcuts {
    display: inline;
}

textarea {
    width: 100%;
}

img {
    border: none;
}

label {
    width: 100px;
}

legend {
    font-weight: bold;
}

input.empty {
    color:gray;
    font-style:italic;
}

input[type="button"] {
    border:1px solid gray;
    background: #fff;
}

input[type="button"]:hover {
    border-color: #0000CC;
}

dl.expandlist {
    margin-left: 40px;
    padding-left: 5px;
}

dl.subexpandlist {
    margin: 0px;
}

dt.expandable {
    background: #eee;
    margin-left: -16px;
}

ol.expandlist {
    list-style-type: lower-alpha;
    margin: 0px;
    padding-left: 5px;
}

ul.expandlist {
    list-style-type: none;
    margin: 0px;
    padding-left: 5px;
}

input.expandlist[type="button"] {
    width: 18px;
    height: 18px;
    padding: 0px;
    margin-left: -22px;
}

.datepicker {
    width: 95px;
}

/* Firefox hack, removes dotted outline of
 * focused buttons */
    input.expandlist[type="button"]::-moz-focus-inner {
        border: 0;
}

img.minus {
    background: url("/media/img/icons.png") no-repeat 0 -120px;
    height: 12px;
    width: 12px;
    border: 0px;
}

img.minus:hover {
    background: url("/media/img/icons.png") no-repeat -20px -120px;
    height: 12px;
    width: 12px;
    border: 0px;
}
img.plus {
    background: url("/media/img/icons.png") no-repeat -40px -120px;
    height: 12px;
    width: 12px;
    border: 0px;
}

img.plus:hover {
    background: url("/media/img/icons.png") no-repeat -60px -120px;
    height: 12px;
    width: 12px;
    border: 0px;
}

.clickable {
    cursor: pointer;
    color: #777;
    font-size: 11px;
}

td.error input, div.error input, select.error, tr.error {
    border: 3px solid red;
}

option.error {
    color: red;
    font-weight: bold;
}

ul.errorlist {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul.errorlist li {
    color: red;
    font-size: 0.5em;
    font-weight: bold;
}

.hidden {
    display: none;
}

h2 {
    color: #69C;
    letter-spacing: -1px;
}

fieldset {
    margin-bottom: 1em;
}

legend span {
    margin-left: 4em;
    display: inline-block;
}

.form_select {
    width: 100%;
}
