{% extends "base.html" %}

{% block title %}Edit CV{% endblock %}

{% block morehead %}

<script type="text/javascript">

</script>

{% endblock %}

{% block content %}

<h1>Biographical Information</h1>
{% if doeFormset.errors  %}
{% for error in doeFormset.errors %}
    {{ error|escape }}
{% endfor %}
{% endif %}
{{ summaryFormset.errors.as_ul }}

<form>
    <fieldset>
        <legend>a</legend>
        {% with facultyNameDeptForm as form %}
            {% include "inline_form.html" %}
        {% endwith %}
    </fieldset>
    <fieldset>
        <legend>b - Degrees</legend>
        {{ accredFormset.management_form }}
        {% with accredFormset.forms as tableFormset %}
            {% include "multiitem_table.html" %}
        {% endwith %}
    </fieldset>
    <fieldset>
        <legend>c - Major Honours & Fellowships</legend>
        {{ honorFormset.management_form }}
        {% with honorFormset.forms as tableFormset %}
            {% include "multiitem_table.html" %}
        {% endwith %}
    </fieldset>
    <fieldset>
        <legend>d - Date of first appointment at University of Guelph</legend>
        {% with facultyStartForm as form %}
            {% include "inline_form.html" %}
        {% endwith %}
    </fieldset>

    <fieldset>
        <legend>e - Positions held at University of Guelph and dates</legend>
        {{ positionHeldFormset.management_form }}
        {% with positionHeldFormset.forms as tableFormset %}
            {% include "multiitem_table.html" %}
        {% endwith %}
    </fieldset>
    
    <fieldset>
        <legend>f - Experince prior to appointment at Guelph</legend>
        {{ positionPriorFormset.management_form }}
        {% with positionPriorFormset.forms as tableFormset %}
            {% include "multiitem_table.html" %}
        {% endwith %}    </fieldset>
    <fieldset>
        <legend>g - Visiting Professorships, etc. elsewhere since appointment</legend>
        {{ positionElsewhereFormset.management_form }}
        {% with positionElsewhereFormset.forms as tableFormset %}
            {% include "multiitem_table.html" %}
        {% endwith %}
    </fieldset>
</form>


{% endblock %}
