{% extends "base.html" %}

{% block content %}

<h3 id="Courses">Courses</h3>

<table border="1" a>

  <tr>
    <th>Semester</th>
    <th>Year</th>
    <th>Course Number: Course Name</th>
    <th>Number of Students</th>
  </tr>

  <tr>
    <td>
        <form action="">
        <input type="text" size="10"/></form>
    </td>

    <td>
        <form action="">
        <input type="text" size="10"/></form>
    </td>

     <td>
        <form action="">
        <input type="text" size="85"/></form>
    </td>

     <td>
        <form action="">
        <input type="text" size="10"/></form>
    </td>
  </tr>
</table> <br><br>



<h3 id="ContributionsToStudentCounselling">Contributions to Student Counseling</h3>
<textarea rows="10" cols="110">
Student counseling.....
</textarea><br><br><br>


<h3 id="GraduateAdvisingAndExamining">Graduate Advising and Examining</h3>
<form action="">
PhD students advised to completion (past 6 years): <input type="text" size="10" /><br>
MSc students advised to completion (past 6 years): <input type="text" size="10" />
</form>

<ol type="i">

    <li>
         <h4>Advisor (past 6 years)</h4>
         <table border="1" a>
         
         <tr>
           <th>Student Name</th>

    <th>Degree</th>

    <th>Date</th>

  </tr>

  <tr>

    <td>

        <form action="">

        <input type="text" size="45"/></form>

    </td>



    <td>

 <form action="">

        <input type="text" size="50"/> </form>

    </td>



<td>

 <form action="">

        <input type="text" size="5"/> to <input type="text" size="5"/> </form>

    </td>



  </tr>

</table>       

  

    </li>



    <li>
         <h4>Advisor Committe Member</h4>
         <table border="1" a>
         
         <tr>
           <th>Student Name</th>

    <th>Degree</th>

    <th>Date</th>

  </tr>

  <tr>

    <td>

        <form action="">

        <input type="text" size="45"/></form>

    </td>



    <td>

 <form action="">

        <input type="text" size="50"/> </form>

    </td>



<td>

 <form action="">

        <input type="text" size="5"/> to <input type="text" size="5"/> </form>

    </td>



  </tr>

</table>       

  

    </li>



<li>
         <h4>Examining Committe Member</h4>
         <table border="1" a>
         
         <tr>
           <th>Student Name</th>

    <th>Degree</th>

    <th>Date</th>

  </tr>

  <tr>

    <td>

        <form action="">

        <input type="text" size="55"/></form>

    </td>



    <td>

 <form action="">

        <input type="text" size="50"/> </form>

    </td>



<td>

 <form action="">

        <input type="text" size="10"/></form>

    </td>



  </tr>

</table>       

  

    </li>


</ol><br><br>


<h3 id="MajorWorkInCourseDevelopment">Major Work in Graduate and Undergraduate Course Development</h3>
<textarea rows="10" cols="110">
Graduate Advising and Examining.....
</textarea> <br><br>


<h3 id="RecognitionOfTeachingAbility">Recognition for Teaching Ability and Achievement</h3>
<textarea rows="10" cols="110">
Recognition for Teaching Ability and Achievement.....
</textarea><br><br>


<h3 id="SupportReceivedForTeachingProjects">Support Received for Major Teaching Projects</h3>
<textarea rows="10" cols="110">
Support Received for Major Teaching Projects.....
</textarea><br><br>


<h3 id="ScholarshipInEducation">Scholarship in Education</h3>
<textarea rows="10" cols="110">
Scholarship in Education.....
</textarea><br><br>


<h3 id="OtherContributionsToEducation">Other Contributions to Education</h3>
<textarea rows="10" cols="110">
Other Contributions to Education.....
</textarea>

{% endblock %}
