{% extends "base.html" %}

{% block title %}Edit CV{% endblock %}

{% block content %}
<h2>Teaching and Learning</h2>

<form method="post" action="{% url cv-teaching-courses %}">
    {% csrf_token %}
    <fieldset id="courses">
        {{ formsets.coursesJoined.management_form }}
        {% with formsets.coursesJoined as tableFormset %}
            {% include "multiitem_table.html" %}
        {% endwith %}
    </fieldset>
    <input type="submit" value="Save" />
</form>
{% endblock %}
