{% extends "base.html" %}

{% block title %}Edit CV{% endblock %}

{% block content %}
<h2>Executive Summary</h2>

<form method="post" action="{% url cv-distribution-of-effort %}">
    {% csrf_token %}
    <fieldset id="distribution_fieldset" name="distribution">
        {{ doeFormset.management_form }}
        {% with doeFormset as tableFormset %}
            {% include "multiitem_table.html" %}
        {% endwith %}
    </fieldset>
    <input type="submit" value="Save" />
</form>
{% endblock %}
