{% extends "base.html" %}

{% block title %}Edit CV{% endblock %}

{% block content %}
<dl class="expandlist">
    <dt class="expandable">
        <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
        <a href="{% url cv-executive %}">Part 1: Executive Summary</a>
    </dt>
    <dd>
        <ul class="expandlist">
            <li><a href="{% url cv-executive %}#distribution">Distribution of Effort</a></li>
            <li><a href="{% url cv-executive %}#summary">Executive Summary</a></li>
        </ul>
    </dd>
    <dt class="expandable">
        <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
        <a href="{% url cv-biographical %}">Part 2: Biographical Information</a>
    </dt>
    <dd>
        <ol class="expandlist">
            <li><a href="{% url cv-biographical %}#name">Name/Department</a></li>
            <li><a href="{% url cv-biographical %}#degrees">Degrees</a></li>
            <li><a href="{% url cv-biographical %}#honours">Major Honours  Fellowships</a></li>
            <li><a href="{% url cv-biographical %}#appointed">Date of first appointment at University of Guelph</a></li>
            <li><a href="{% url cv-biographical %}#positions">Positions held at University of Guelph</a></li>
            <li><a href="{% url cv-biographical %}#experience">Experience prior to appointment at Guelph</a></li>
            <li><a href="{% url cv-biographical %}#elsewhere">Visiting Professorships, etc. elsewhere since appointment</a></li>
        </ol>
            
    </dd>
    <dt class="expandable">
        <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
        <a>Part 3: Cumulative Information on Teaching, Research and Service</a>
    </dt>
    <dd>
        <dl class="expandlist subexpandlist">
            <dt class="expandable">
                <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
                <a>3A: Research</a>
            </dt>
            <dd>
                <ol class="expandlist">
                    <li><a href="{% url cv-ResearchActivity %}#SummaryOfResearchActivity">Summary of Research Activity</a></li>
                    <li><a>Six-year Publication List</a></li>
                    <li><a href="{% url cv-researchGrants %}#ResearchGrantsAndContractsHeld">Research Grants and Contracts Held</a></li>
                    <li><a href="{% url cv-researchGrants %}#ResearchGrantsAppliedFor">Research Grants Applied For</a></li>
                    <li><a href="{% url cv-researchGrants %}#ProfessionalConsulting">Professional Consulting</a></li>
                    <li><a href="{% url cv-researchGrants %}#Patents">Patents</a></li>
                    <li><a href="{% url cv-researchGrants %}#OtherActivities">Other Activities</a></li>
                    <li><a href="{% url cv-researchGrants %}#RecognitionOfResearchAndScholarship">Recognition of Research and Scholarship</a></li>
                </ol>
            </dd>
            <dt class="expandable">
                <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
                <a>3B: Teaching and Learning</a>
            </dt>
            <dd>
                <ol class="expandlist">
                    <li><a href="{% url cv-reportOnTeaching %}#ReportOnTeaching">Report on Teaching</a></li>
                    <li><a href="{% url cv-Courses %}#Courses">Courses</a></li>
                    <li><a href="{% url cv-Courses %}#ContributionsToStudentCounselling">Contributions to Student Counselling</a></li>
                    <li><a href="{% url cv-Courses %}#GraduateAdvisingAndExamining">Graduate Advising and Examining</a></li>
                    <li><a href="{% url cv-Courses %}#MajorWorkInCourseDevelopment">Major Work in Graduate and Undergraduate Course Development</a></li>
                    <li><a href="{% url cv-Courses %}#RecognitionOfTeachingAbility">Recognition of Teaching Ability and Achievement</a></li>
                    <li><a href="{% url cv-Courses %}#SupportReceivedForTeachingProjects">Support Received for Major Teaching Projects</a></li>
                    <li><a href="{% url cv-Courses %}#ScholarshipInEducation">Scholarship in Education</a></li>
                    <li><a href="{% url cv-Courses %}#OtherContributionsToEducation">Other Contributions to Education</a></li>
                </ol>
            </dd>
            <dt class="expandable">
                <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
                <a href="{% url cv-ServiceAndAdmin %}#ServiceAndAdmin">3C: Service and Administrative Contributions</a>
            </dt>
            <dd>
                <ol class="expandlist">
                    <li><a href="{% url cv-ServiceAndAdmin %}#DepartmentCommitteesAndSimilarBodies">Department Committees and Similar Bodies with Dates</a></li>
                    <li><a href="{% url cv-ServiceAndAdmin %}#CollegeCommitteesAndSimilarBodies">College Committees and Similar Bodies with Dates</a></li>
                    <li><a href="{% url cv-ServiceAndAdmin %}#UniversityCommitteesAndSimilarBodies">University Committees and Similar Bodies with Dates</a></li>
                    <li><a href="{% url cv-ServiceAndAdmin %}#ExternalCommitteesAndSimilarBodies">External/Professional Committees and Similar Bodies with Dates</a></li>
                </ol>
            </dd>
            <dt>
                <a href="{% url cv-offCampusRecognition %}#offCampusRecognition">3D: Off-Campus Recognition</a>
            </dt>
        </dl>
    </dd>
    <dt class="expandlist">
        <a>Part 4: Lifetime Publication List</a>
    </dt>
</dl>
{% endblock %}
