{% extends "base.html" %}

{% block navigation %}
<ul id="navlist">
    <li><a href="/" class="navitem">Home</a></li>
    <li><a href="editcv.html" class="navitem navitem_selected">Edit CV</a></li>
</ul>
{% endblock %}

{% block topmenu %}
{% endblock %}

{% block content %}
<dl class="expandlist">
    <dt class="expandlist">
        <a href="form1.html">Part 1: Executive Summary</a>
    </dt>
    <dt class="expandlist expandable">
        <img src="/media/cleardot.gif" class="expandlist plus" role="button" />
        <a>Part 2: Biographical Information</a>
    </dt>
    <dd>
        <a>(a) Name/Depatment</a>
    </dd>
    <dd>
        <a>(b) Degrees</a>
    </dd>
    <dd>
        <a>(c) Major Honours & Fellowships</a>
    </dd>
    <dd>
        <a>(d) Date of first appointment at University of Guelph</a>
    </dd>
    <dd>
        <a>(e) Positions held at University of Guelph</a>
    </dd>
    <dd>
        <a>(f) Experience prior to appointment at Guelph</a>
    </dd>
    <dd>
        <a>(g) Visiting Professorships, etc. elsewhere since appointment</a>
    </dd>
    <dt class="expandlist expandable">
        <img src="/media/cleardot.gif" class="expandlist plus" role="button" />
        <a>Part 3: Cumulative Information on Teaching, Research and Service</a>
    </dt>
    <dd>
        <dl class="expandlist subexpandlist">
            <dt class="expandlist expandable">
                <img src="/media/cleardot.gif" class="expandlist plus" role="button" />
                <a>3A: Research</a>
            </dt>
            <dd>
                <a>(a) Summary of Research Activity</a>
            </dd>
            <dd>
                <a>(b) Six-year Publication List</a>
            </dd>
            <dd>
                <a>(c) Research Grants and Contracts Held</a>
            </dd>
            <dd>
                <a>(d) Research Grants Applied For</a>
            </dd>
            <dd>
                <a>(e) Professional Consulting</a>
            </dd>
            <dd>
                <a>(f) Patents</a>
            </dd>
            <dd>
                <a>(g) Other Activities</a>
            </dd>
            <dd>
                <a>(h) Recognition of Research and Scholarship</a>
            </dd>
            <dt class="expandlist expandable">
                <img src="/media/cleardot.gif" class="expandlist plus" role="button" />
                <a>3B: Teaching and Learning</a>
            </dt>
            <dd>
                <a>(a) Report on Teaching</a>
            </dd>
            <dd>
                <a>(b) Courses</a>
            </dd>
            <dd>
                <a>(c) Contributions to Student Counselling</a>
            </dd>
            <dd>
                <a>(d) Graduate Advising and Examining</a>
            </dd>
            <dd>
                <a>(e) Major Work in Graduate and Undergraduate Course Development</a>
            </dd>
            <dd>
                <a>(f) Recognition of Teaching Ability and Achievement</a>
            </dd>
            <dd>
                <a>(g) Support Received for Major Teaching Projects</a>
            </dd>
            <dd>
                <a>(h) Scholarship in Education</a>
            </dd>
            <dd>
                <a>(i) Other Contributions to Education</a>
            </dd>
            <dt class="expandlist expandable">
                <img src="/media/cleardot.gif" class="expandlist plus" role="button" />
                <a>3C: Service and Administrative Contributions</a>
            </dt>
            <dd>
                <a>(a) Department Committees and Similar Bodies with Dates</a>
            </dd>
            <dd>
                <a>(b) College Committees and Similar Bodies with Dates</a>
            </dd>
            <dd>
                <a>(c) University Committees and Similar Bodies with Dates</a>
            </dd>
            <dd>
                <a>(d) External/Professional Committees and Similar Bodies with Dates</a>
            </dd>
            <dt class="expandlist">
                <a>3D: Off-Campus Recognition</a>
            </dt>

        </dl>
    </dd>
            <dt class="expandlist">
        <a>Part 4: Lifetime Publication List</a>
    </dt>
</dl>
{% endblock %}
