{% extends "base.html" %}

{% block title %}Edit CV{% endblock %}

{% block content %}
<p>Please select a section from the list below to edit.</p>
<p><a id="expand_all" href="#">Expand All</a> / <a id="collapse_all" href="#">Collapse All</a></p>
<dl class="expandlist">
    <dt class="expandable">
        <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
        <a href="{% url cv-executive %}">Part 1: Executive Summary</a>
    </dt>
    <dd>
        <ul class="expandlist">
            <li><a href="{% url cv-executive %}#distribution">Distribution of Effort</a></li>
            <li><a href="{% url cv-executive %}#summary">Executive Summary</a></li>
        </ul>
    </dd>
    <dt class="expandable">
        <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
        <a href="{% url cv-biographical %}">Part 2: Biographical Information</a>
    </dt>
    <dd>
        <ol class="expandlist">
            <li><a href="{% url cv-biographical %}#name">Name/Department</a></li>
            <li><a href="{% url cv-biographical %}#degrees">Degrees</a></li>
            <li><a href="{% url cv-biographical %}#honours">Major Honours  Fellowships</a></li>
            <li><a href="{% url cv-biographical %}#appointed">Date of first appointment at University of Guelph</a></li>
            <li><a href="{% url cv-biographical %}#positions">Positions held at University of Guelph</a></li>
            <li><a href="{% url cv-biographical %}#experience">Experience prior to appointment at Guelph</a></li>
            <li><a href="{% url cv-biographical %}#elsewhere">Visiting Professorships, etc. elsewhere since appointment</a></li>
        </ol>

    </dd>
    <dt class="expandable">
        <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
        <a>Part 3: Cumulative Information on Teaching, Research and Service</a>
    </dt>
    <dd>
        <dl class="expandlist subexpandlist">
            <dt class="expandable">
                <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
                <a>3A: Research</a>
            </dt>
            <dd>
                <ol class="expandlist">
                    <li><a href="{% url cv-research %}">a. Summary of Research Activity</a></li>
                    <li><a href="#">b. Six-year Publication List</a></li>
                    <li><a href="{% url cv-research-grants %}">c. Research Grants and Contracts Held</a></li>
                    <li><a href="{% url cv-research-grants %}">d. Research Grants Applied For</a></li>
                    <li><a href="{% url cv-research 'professional_consulting' %}">e. Professional Consulting</a></li>
                    <li><a href="{% url cv-research 'patents' %}">f. Patents</a></li>
                    <li><a href="{% url cv-research 'other' %}">g. Other Activities</a></li>
                    <li><a href="{% url cv-research 'recognition' %}">h. Recognition of Research and Scholarship</a></li>
                </ol>
            </dd>
            <dt class="expandable">
                <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
                <a>3B: Teaching and Learning</a>
            </dt>
            <dd>
                <ol class="expandlist">
                    <li><a href="{% url cv-teaching %}">a. Report on Teaching</a></li>
                    <li><a href="{% url cv-teaching-courses %}">b. Courses</a></li>
                    <li><a href="{% url cv-teaching 'counselling' %}">c. Contributions to Student Counselling</a></li>
                    <li><a href="{% url cv-teaching-graduate %}">d. Graduate Advising and Examining</a></li>
                    <li><a href="{% url cv-teaching 'course_development' %}">e. Major Work in Graduate and Undergraduate Course Development</a></li>
                    <li><a href="{% url cv-teaching 'recognition' %}">f. Recognition of Teaching Ability and Achievement</a></li>
                    <li><a href="{% url cv-teaching 'support' %}">g. Support Received for Major Teaching Projects</a></li>
                    <li><a href="{% url cv-teaching 'scholarship' %}">h. Scholarship in Education</a></li>
                    <li><a href="{% url cv-teaching 'other' %}">i. Other Contributions to Education</a></li>
                </ol>
            </dd>
            <dt class="expandable">
                <img src="/media/img/cleardot.gif" class="expandlist plus" role="button" />
                <a href="{% url cv-service-contributions %}#service_and_admin">3C: Service and Administrative Contributions</a>
            </dt>
            <dd>
                <ol class="expandlist">
                    <li><a href="{% url cv-service-contributions %}#department_committees_and_similar_bodies">
                        Department Committees and Similar Bodies with Dates</a></li>
                    <li><a href="{% url cv-service-contributions %}#college_committees_and_similar_bodies">
                        College Committees and Similar Bodies with Dates</a></li>
                    <li><a href="{% url cv-service-contributions %}#university_committees_and_similar_bodies">
                        University Committees and Similar Bodies with Dates</a></li>
                    <li><a href="{% url cv-service-contributions %}#external_committees_and_similar_bodies">
                        External/Professional Committees and Similar Bodies with Dates</a></li>
                </ol>
            </dd>
            <dt>
                <a href="{% url cv-off-campus-recognition %}#off_campus_recognition">3D: Off-Campus Recognition</a>
            </dt>
        </dl>
    </dd>
    <dt class="expandlist">
        <a>Part 4: Lifetime Publication List</a>
    </dt>
</dl>
{% endblock %}
