<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>{{ user.get_full_name }} - CV</title>
        <style type="text/css" media="screen" title="Screen">
            div#overlay {
                position: fixed;
                top: 0;
                background: #000;
                opacity: 0.8;
                text-align: center;
                color: #fff;
                padding: 1em 0;
                width: 100%;
            }
            div#overlay a, div#overlay a:visited {
                color: #fff;
                font-weight: bold;
            }
            div#overlay a:hover {
                text-decoration: none;
            }
            div#overlay span {
                position: absolute;
                left: 1em;
            }
            div#document {
                padding: 1em;
            }
        </style>
        <style type="text/css" media="print,screen">
            body {
                margin: 0;
            }
            /* Avoid page break after the last page */
            div#document:last-child {
                page-break-after: none;
            }
            div#cover_page {
                margin-top: 10em;
                text-align: center;
            }
            div#cover_page h1 {
                font-size: 140%;
                line-height: 2em;
            }
            div#cover_page ul {
                font-size: 110%;
                width: 50%;
                margin: 4em auto;
                list-style: none;
                text-align: left;
            }
            div#cover_page ul li {
                margin: 1em 0;
            }
            h2 {
                text-align: center;
                text-transform: uppercase;
            }
            h5 {
                font-size: 100%;
                font-weight: normal;
            }
            p {
                text-align: justify;
            }
            table td {
                vertical-align: top;
            }
            table th {
                text-align: left;
            }
            table tr td em {
                font-style: normal;
                text-decoration: underline;
            }
            dt {
                font-weight: bold;
            }
        </style>
        <style type="text/css" media="print" title="Print">
            div.page {
                page-break-after: always;
                page-break-inside: avoid;
            }
            table.one_page {
                -pdf-keep-in-frame-mode: truncate;
                text-align: justify;
                padding-bottom: 1.1em;
            }
            div#overlay {
                display: none;
            }
        </style>
    </head>
    <body>
        <div id="overlay">
            <span><a href="{% url cv-index %}">&laquo; Back home</a></span>
            This is a preview of your CV. To export this document, please click
            <a href="{% url cv-export-download %}">here</a>.
        </div>
        <div id="document">
            <div class="page" id="cover_page">
                <h1>UNIVERSITY OF GUELPH<br>
                    COLLEGE OF PHYSICAL AND ENGINEERING SCIENCE<br>
                    FACULTY CURRICULUM VITAE<br>
                    for<br>
                    {{ user.get_full_name }}</h1>

                <ul>
                    <li>Part 1: Basic Biographical Information</li>
                    <li>Part 2: Cumulative Information on Teaching, Research and Service</li>
                    <li>Part 3: Lifetime Publication List</li>
                </ul>
            </div>
            <div class="page" id="executive_summary">
                <table width="100%" class="one_page">
                    <tr>
                        <td>
                            <h2>Part 1: Executive Summary</h2>
                            <h3>Distribution of Effort</h3>
                            {% for data in doe %}
                                <p>Year {{ data.year|date:"Y" }}:
                                <strong>Research</strong>: {{ data.research }}%,
                                <strong>Teaching</strong>: {{ data.teaching }}%,
                                <strong>Service</strong>: {{ data.service }}%
                            </p>
                            {% endfor %}

                            <h3>Research, Teaching, and Service</h3>
                            {{ summary.executive|safe }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="page" id="biographical_information">
                <h2>Part 2: Biographical Information</h2>
                <table width="100%">
                    <tr>
                        <td style="width: 30px">(a)</td>
                        <td><strong>Name</strong>:</td>
                        <td colspan="2">{{ user.get_full_name }}</td>
                        <td colspan="2"><strong>Department</strong>:
                            {% for dept in faculty_info.departments %}
                                {{ dept }}<br />
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>(b)</td>
                        <th>Degrees</th>
                        <th>Discipline</th>
                        <th>University</th>
                        <th>Date</th>
                    </tr>
                    {% for degree in degree_info %}
                    <tr>
                        <td></td>
                        <td>{{ degree.degree }}</td>
                        <td>{{ degree.discipline }}</td>
                        <td>{{ degree.institution }}</td>
                        <td>{{ degree.date|date:"Y" }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>(c)</td>
                        <th colspan="4">Major Honours &amp; Fellowships</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="4">
                            <ul>
                            {% for honor in honors_info %}
                                <li>{{ honor.description }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>(d)</td>
                        <th colspan="3">Date of first appointment at the University of
                            Guelph:</th>
                        <td>{{ faculty_info.faculty_start|date:"M Y" }}</td>
                    </tr>
                    <tr>
                        <td>(e)</td>
                        <th colspan="4">Positions held at University of Guelph and
                            dates</th>
                    </tr>
                    <tr>
                        <td></td>
                        <th colspan="2">Rank</th>
                        <th colspan="2">From</th>
                    </tr>
                    {% for position in position_held_info %}
                    <tr>
                        <td></td>
                        <td colspan="2">{{ position.rank }}</td>
                        <td colspan="2">{{ position.start_date}} -
                            {{ position.end_date }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>(f)</td>
                        <th colspan="4">Experience prior to appointment at Guelph</th>
                    </tr>
                    <tr>
                        <td></td>
                        <th>Position</th>
                        <th colspan="2">Location</th>
                        <th>Dates</th>
                    </tr>
                    {% for position in position_prior_info %}
                    <tr>
                        <td></td>
                        <td>{{ position.position }}</td>
                        <td colspan="2">{{ position.location }}</td>
                        <td>{{ position.start_date }} - {{ position.end_date }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>(g)</td>
                        <th colspan="4">Visiting Professorship, etc. elsewhere since
                            appointment</th>
                    </tr>
                     <tr>
                        <td></td>
                        <th>Position</th>
                        <th colspan="2">Location</th>
                        <th>Dates</th>
                    </tr>
                    {% for position in position_elsewhere_info %}
                    <tr>
                        <td></td>
                        <td>{{ position.position }}</td>
                        <td colspan="2">{{ position.location }}</td>
                        <td>{{ position.start_date }} - {{ position.end_date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="page" id="cummulative_information_record">
                <table width="100%" class="one_page">
                    <tr>
                        <td>
                            <h2>Cummulative Information Record</h2>
                            <h3>3A Research</h3>
                            <h4>(a) Summary of Research Activity</h4>
                            {{ summary.research|safe }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="page">
                <h4>(b) Six-year Publication List</h4>
                <h4>(c) Research Grants and Contracts Held</h4>
                <table width="100%">
                    <tr>
                        <th>Name of Major Investigators</th>
                        <th>Agency, Type of Support, Project Title</th>
                        <th>Amount Per Year</th>
                        <th>Years of Tenure</th>
                    </tr>
                    {% for grant in grants_held_info %}
                    <tr>
                        <td>
                            {% for investigators in grant.investigator_info %}
                            {% if investigators.role == 'p' %}
                            <em>
                            {% endif %}
                            {{ investigators.name }}{% if not forloop.last %},{% endif %}<br />
                            {% if investigators.role == 'p' %}
                            </em>
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td><strong>{{ grant.project_title }}</strong></td>
                        <td>
                        {% for year in grant.year_info %}
                            ${{ year.amount }}{% if not forloop.last %},{% endif %}<br />
                        {% endfor %}
                        </td>
                        <td>{% for year in grant.year_info %}
                            {{ year.start_year|date:"Y" }} -
                            {{ year.end_year|date:"Y" }}{% if not forloop.last %},{% endif %}
                            <br />
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <h4>(d) Research Grants Applied For</h4>
                <table width="100%">
                    <tr>
                        <th>Name of Major Investigators</th>
                        <th>Agency, Type of Support, Project Title</th>
                        <th>Amount Per Year</th>
                        <th>Years of Tenure</th>
                    </tr>
                    {% for grant in grants_applied_info %}
                    <tr>
                        <td>
                            {% for investigators in grant.investigator_info %}
                            {% if investigators.role == 'p' %}
                            <em>
                            {% endif %}
                            {{ investigators.name }}{% if not forloop.last %},{% endif %}<br />
                            {% if investigators.role == 'p' %}
                            </em>
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td><strong>{{ grant.project_title }}</strong></td>
                        <td>
                        {% for year in grant.year_info %}
                            ${{ year.amount }}{% if not forloop.last %},{% endif %}<br />
                        {% endfor %}
                        </td>
                        <td>{% for year in grant.year_info %}
                            {{ year.start_year|date:"Y" }} -
                            {{ year.end_year|date:"Y" }}{% if not forloop.last %},{% endif %}
                            <br />
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <h4>(e) Professional Consulting</h4>
                {{ summary.research_professional_consulting|safe }}
                <h4>(f) Patents</h4>
                {{ summary.research_patents|safe }}
                <h4>(g) Other Activities</h4>
                {{ summary.research_other_activities|safe }}
                <h4>(h) Recognition of Research and Scholarship</h4>
                {{ summary.research_recognition|safe }}
            </div>
            <div class="page">
                <table width="100%" class="one_page">
                    <tr>
                        <td>
                            <h3>3B Teaching and Learning</h3>
                            <h4>(a) Report on Teaching</h4>
                            {{ summary.teaching|safe }}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="page">
                <h4>(b) Courses</h4>
                <table width="100%">
                    {% for course in courses_info %}
                    <tr>
                        <td>{{ course.get_semester_display }}</td>
                        <td>{{ course.year }}</td>
                        <td>{{ course.course }}</td>
                        <td>{{ course.num_students }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h4>(c) Contributions to Student Counselling</h4>
                {{ summary.teaching_counselling|safe }}
                <h4>(d) Graduate Advising and Examining</h4>
                <p>{{ graduate.num_phd }} PhD students
                   advised to completion (past 6 years)</p>
                <p>{{ graduate.num_msc }} MSc students
                   advised to completion (past 6 years)</p>
                <h5>(i) Advisor (Last 6 Years)</h5>
                <table width="100%">
                    {% for graduate in graduate_advising %}
                    <tr>
                        <td width="50%">{{ graduate.student_name }}</td>
                        <td width="30%">{{ graduate.degree }}</td>
                        <td width="20%">{{ graduate.start_date|date:"M Y" }} -
                            {{ graduate.end_date|date:"M Y" }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h5>(ii) Advisor committee member (Last 6 Years)</h5>
                <table width="100%">
                    {% for graduate in graduate_committee %}
                    <tr>
                        <td width="50%">{{ graduate.student_name }}</td>
                        <td width="30%">{{ graduate.degree }}</td>
                        <td width="20">{{ graduate.start_date|date:"M Y" }} -
                            {{ graduate.end_date|date:"M Y" }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h5>(iii) Examining committee member (Last 6 Years)</h5>
                <table width="100%">
                    {% for graduate in graduate_examining %}
                    <tr>
                        <td width="50%">{{ graduate.student_name }}</td>
                        <td width="30%">{{ graduate.degree }}</td>
                        <td width="20%">{{ graduate.date|date:"M Y" }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h4>(e) Major Work in Graduate and Undergraduate Course
                    Development</h4>
                {{ summary.teaching_course_development|safe }}
                <h4>(f) Recognition of Teaching Ability and Achievement</h4>
                {{ summary.teaching_recognition|safe }}
                <h4>(g) Support Received for Major Teaching Projects </h4>
                {{ summary.teaching_support|safe }}
                <h4>(h) Scholarship in Education</h4>
                {{ summary.teaching_scholarship|safe }}
                <h4>(i) Other Contributions to Education</h4>
                {{ summary.teaching_other|safe }}
                <h3>3C Service and Administrative Contributions</h3>
                <h4>(a) Department Committees and Similar Bodies with Dates</h4>
                <table width="100%">
                    {% for service in dept_service_contribution_info %}
                    <tr>
                        <td style="width: 20%">
                            {{ service.get_start_semester_display }}/{{ service.start_year|date:"Y" }}
                            to
                            {{ service.get_end_semester_display }}/{{ service.end_year|date:"Y" }}
                        </td>
                        <td style="width: 25%">{{ service.committee }}</td>
                        <td style="width: 12%">{{ service.get_role_display }}</td>
                        {% if service.role != "c" %}
                        <td style="width: 18%">{{ service.chair }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td style="width: 25%">{{ service.other }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h4>(b) College Committees and Similar Bodies with Dates</h4>
                <table width="100%">
                    {% for service in coll_service_contribution_info %}
                    <tr>
                        <td style="width: 20%">
                            {{ service.get_start_semester_display }}/{{ service.start_year|date:"Y" }}
                            to
                            {{ service.get_end_semester_display }}/{{ service.end_year|date:"Y" }}
                        </td>
                        <td style="width: 25%">{{ service.committee }}</td>
                        <td style="width: 12%">{{ service.get_role_display }}</td>
                        {% if service.role != "c" %}
                        <td style="width: 18%">{{ service.chair }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td style="width: 25%">{{ service.other }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h4>(c) University Committees and Similar Bodies with Dates</h4>
                <table width="100%">
                    {% for service in uni_service_contribution_info %}
                    <tr>
                        <td style="width: 20%">
                            {{ service.get_start_semester_display }}/{{ service.start_year|date:"Y" }}
                            to
                            {{ service.get_end_semester_display }}/{{ service.end_year|date:"Y" }}
                        </td>
                        <td style="width: 25%">{{ service.committee }}</td>
                        <td style="width: 12%">{{ service.get_role_display }}</td>
                        {% if service.role != "c" %}
                        <td style="width: 18%">{{ service.chair }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td style="width: 25%">{{ service.other }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h4>(d) External/Professional Committees and Similar Bodies with
                Dates</h4>
                    <table width="100%">
                    {% for service in ext_service_contribution_info %}
                    <tr>
                        <td style="width: 20%">
                            {{ service.get_start_semester_display }}/{{ service.start_year|date:"Y" }}
                            to
                            {{ service.get_end_semester_display }}/{{ service.end_year|date:"Y" }}
                        </td>
                        <td style="width: 25%">{{ service.committee }}</td>
                        <td style="width: 12%">{{ service.get_role_display }}</td>
                        {% if service.role != "c" %}
                        <td style="width: 18%">{{ service.chair }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td style="width: 25%">{{ service.other }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <h3>3D Off-Campus Recognition</h3>
                {{ summary.OffCampus|safe }}
            </div>
            <div class="page" id="lifetime_publication_list">
                <h2>Part 4: Lifetime Publication List</h2>
            </div>
        </div> <!-- end doc -->
    </body>
</html>
