<table class="multiitem_table">
    <tr>
        <td><span class="clickable additem">add</span><td>
    </tr>
    <tr>
        {% for field in tableFormset.0.visible_fields %}
            {% if field.label != "Delete" %}
                <th>{{ field.label }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    {% for form in tableFormset %}
        <tr class="multiitem_row">
        {% for field in form %}
            {% if field.errors %}
            <td class='error'>
            {% else %}
            <td>
            {% endif %}
                {{ field }}
            {% if field.label == "Delete" %}
                <span class="clickable removeitem">remove</span>
            {% endif %}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

