<span class="clickable additem">add</span>
<table width="100%" class="multiitem_table">
    <tr>
        {% for field in tableFormset.0 %}
            {% if field.label != "Id" and field.label != "Delete" %}
                <th>{{ field.label }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    {% for form in tableFormset %}
        <tr class="multiitem_row">
            {% for field in form %}
                {% if field.label != "Id" and field.label != "Delete" %}
                    <td>
                        {{ field }}
                    </td>
                {% else %}
                    <td class="hidden">
                        {{ field }}
                    </td>

                {% endif %}
                
            {% endfor %}
            <td><span class="clickable removeitem">remove</span></td>
        </tr>
    {% endfor %}
</table>

