{{ tableFormset.non_form_errors }}
<legend>{{ tableFormset.label }} <span class="clickable additem">add</span></legend>
<table class="multiitem_table">
    <tr class="multiitem_header">
        {% for field in tableFormset.empty_form.visible_fields %}
            {% if field.label != "Delete" %}
            <th>{{ field.label }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    {% for form in tableFormset.forms %}
    {% if form.non_field_errors %}
    <tr class="multiitem_row error">
    {% else %}
    <tr class="multiitem_row">
    {% endif %}
    {% for field in form %}
        {% if field.errors %}
        <td class="error">{{ field.errors }}
        {% else %}
        <td>
        {% endif %}
        {{ field }}
        </td>
        {% endfor %}
        <td>
            <span class="clickable removeitem">remove</span>
        </td>
    </tr>
    {% endfor %}
    <tr class="multiitem_row">
        {% for field in tableFormset.empty_form %}
        <td>{{ field }}</td>
        {% endfor %}
        <td>
            <span class="clickable removeitem">remove</span>
        </td>
    </tr>
</table>
