<html>
<body>

<h3>Research Grants and Contracts Held</h3>

<table border="1" a>

  <tr>

    <th>Names of  Major Investigators</th>

    <th>Agency, Type of Support, Project Title</th>

    <th>Amount per Year</th>

    <th>Years of Tenure</th>

  </tr>

  <tr>

    <td>

        <form action="">

        <input type="text" size="45"/></form>

    </td>



    <td>

 <form action="">

        <input type="text" size="40"/></form>

    </td>



     <td>

        <form action="">

        <input type="text" size="10"/></form>

    </td>

     <td>

        <form action="">

        <input type="text" size="5"/> to <input type="text" size="5"/></form>

    </td>

  </tr>

</table><br><br>



<h3>Research Grants Applied For</h3>
<table border="1" a>

  <tr>

    <th>Names of  Major Investigators</th>

    <th>Agency, Type of Support, Project Title</th>

    <th>Amount per Year</th>

    <th>Years of Tenure</th>

  </tr>

  <tr>

    <td>

        <form action="">

        <input type="text" size="45"/></form>

    </td>



    <td>

 <form action="">

        <input type="text" size="40"/></form>

    </td>



     <td>

        <form action="">

        <input type="text" size="10"/></form>

    </td>

     <td>

        <form action="">

        <input type="text" size="5"/> to <input type="text" size="5"/></form>

    </td>

  </tr>

</table> <br><br>



<h3>Professional Consulting</h3>
<textarea rows="10" cols="110">
Professional consulting.....
</textarea>


<h3>Patents</h3>
<textarea rows="10" cols="110">
Patents.....
</textarea>

<h3>Other Activities</h3>
<textarea rows="10" cols="110">
other activities.....
</textarea>

<h3>Recognition of Research and Scholarship</h3>
<textarea rows="10" cols="110">
Recognition of research and scholarship.....
</textarea>




</body>
</html>

