{% extends "base.html" %}

{% block content %}
<h2>3B Teaching and Learning</h2>

{% for name, formset in formsets.items %}
    {% if formset.errors  %}
        {% for error in formset.errors %}
            {{ error|escape }}
        {% endfor %}
    {% endif %}
{% endfor %}
{% for name, form in forms.items %}
    {{ form.errors.as_ul }}
{% endfor %}

<form method="post" action="{% url cv-research-consulting %}">
    {% csrf_token %}

    <fieldset>
        <legend>e - Professional Consulting</legend>

        {{ forms.consulting.research_professional_consulting }}
    </fieldset>
    <input type="submit" value="Save" />
</form>
{% endblock %}


