{% extends "base.html" %}

{% block morehead %}
{% autoescape off %}
<script type="text/javascript">
var grantData = eval('{{ grantData }}');
var investigatorData = eval('{{ investigatorData }}');
var grantYearData = eval('{{ grantYearData }}');

function renumberElement(regexp, repl, elem) {
    if (elem.id)
        elem.id = elem.id.replace(regexp, repl);
    if (elem.name)
        elem.name = elem.name.replace(regexp, repl);
}

$(document).ready(function() {
    var blankGrant = $(".grants > .grant_wrapper:last");
    var errorGrants = $(".grant_wrapper:has(.error)");
    var totalGrantsElem = $(".grants > .management > input[name$=\"-TOTAL_FORMS\"]");
    var totalGrants = parseInt(totalGrantsElem.val());

    $(".grant_wrapper").hide();

    $(".form_select").change(function() {
        // grant select changed
        var selectedID = $(this).val();
        var prev = $(".grant_wrapper:visible");

        $(prev).hide();

        if (selectedID)
            $(".grant_wrapper[name=\"" + selectedID + "\"]").show();
    });

    $(".form_select").change(function() {
        // grant select changed
        var selectedID = $(this).val();
        var prev = $(".grant_wrapper:visible");

        $(prev).hide();

        if (selectedID)
            $(".grant_wrapper[name=\"" + selectedID + "\"]").show();
    });

    // update select element option string to reflect new values
    $("[name $= \"agency\"], [name $= \"support_type\"], [name $= \"project_title\"]").keyup(function() {
        var curGrant = $(".grant_wrapper:visible");

        if (curGrant.length > 0) {
            var newOptStr = "";
            var tmpstr;

            newOptStr = $(curGrant).find("[name $= \"agency\"]").val();
            tmpstr = $(curGrant).find("[name $= \"support_type\"]").val();

            if (tmpstr)
                newOptStr += ", " + tmpstr;
            tmpstr = $(curGrant).find("[name $= \"project_title\"]").val();
            if (tmpstr)
                newOptStr += ": " + tmpstr;

            $("#id_grantSelect > [value = \"" + $(curGrant).attr("name") + "\"]").html(newOptStr);
        }
    });

    $(".addgrant").click(function () {
        var newGrant = $(blankGrant).clone(true);
        var newGrantOpt = $("<option value=\"new-" + totalGrants + "\">new</option>");

        $(".grant_wrapper:visible").hide();

        ($(newGrant).children("[name *= \"__prefix__\"]").add($(newGrant).children("div").find("[name *= \"__prefix__\"]"))).each(function() {
            renumberElement(new RegExp("(__prefix__)"), totalGrants, this);
        });

        $(newGrant).find("[name *= \"__prefix__\"]").each(function() {
            renumberElement(new RegExp("(__prefix__)"), "0", this);
        });

        $(newGrant).find("[name *= \"__nested_prefix__\"]").each(function() {
            renumberElement(new RegExp("(__nested_prefix__)"), totalGrants, this);
        });

        $(newGrant).attr("name", "new-" + totalGrants);
        $(newGrant).insertBefore(".grant_wrapper:last").show();
        $(".form_select").append(newGrantOpt);
        $(".form_select").val(newGrantOpt.val());
        $(totalGrantsElem).val(++totalGrants);
    });


    var opts = [];
    var new_count = 0;
    
    $(".grant_wrapper:not(:last)").each(function () {
        // name each grant_wrapper by their id value (primary key) and create an
        // array of <option> elements coresponding to each service form
        var id = $(this).children("[name$=\"-id\"]").val();
        var optElem = $("<option></option>");
        var newOptStr = "";
        var tmpstr;

        newOptStr = $(this).find("[name $= \"agency\"]").val();
        tmpstr = $(this).find("[name $= \"support_type\"]").val();

        if (tmpstr)
            newOptStr += ", " + tmpstr;
        tmpstr = $(this).find("[name $= \"project_title\"]").val();
        if (tmpstr)
            newOptStr += ": " + tmpstr;
        
        if (id)
            $(this).attr("name", id);
        else
            $(this).attr("name", "new-" + parseInt(new_count++));

        $(optElem).val($(this).attr("name"));
        $(optElem).text(newOptStr);
        
        opts.push(optElem);
    });
    
    opts.sort(function(a, b) {
        // sort <option>s by <option> text
        var aName = $(a).text().toLowerCase();
        var bName = $(b).text().toLowerCase();

        if (aName < bName)
            return -1;
        else if (aName > bName)
            return 1;
        else
            return 0;
    });
    
    for (i in opts)
        $(".form_select").append(opts[i]);

    if (sessionStorage.getItem("lastForm")) {
        $(".form_select").val(sessionStorage.getItem("lastForm"));
        $(".form_select").trigger("change");
        sessionStorage.removeItem("lastForm");
    }
    
    $("form").submit(function() {
        sessionStorage.setItem("lastForm", $(".form_select").val());
    });

    if (errorGrants.length > 0) {
        var first = $(errorGrants).first();
        
        $(".grant_wrapper").hide();

        $(first).show();
        $(".form_select").val($(first).attr("name"));

        $(".form_select").addClass("error");
    }

    $(errorGrants).each(function() {
        var grantID = $(this).children("[name$=\"-id\"]").val();

        // mark option in select element
        $(".form_select > [value=\"" + grantID + "\"]").addClass("error");
    });
});
</script>
{% endautoescape %}

{% endblock %}

{% block content %}
<h2>Research</h2>

<form method="post" action="{% url cv-research-grants %}">
    {% csrf_token %}
    <fieldset id="grants">
        <legend>{{formsets.grants.label }} <div class="clickable addgrant">add</div></legend>

        <select class="form_select">
            <option selected="selected">---------</option>
        </select>
        <div class="grants">
            <div class="management">
                {{ formsets.grants.management_form }}
            </div>
            {% for form in formsets.grants.forms %}
            <div class="grant_wrapper">
                {% include "inline_form.html" %}

                {% with form.nested.0 as formset %}
                <fieldset>
                    {{ formset.management_form }}
                    {% with formset as tableFormset %}
                        {% include "multiitem_table.html" %}
                    {% endwith %}
                </fieldset>
                {% endwith %}

                {% with form.nested.1 as formset %}
                <fieldset>
                    {{ formset.management_form }}
                    {% with formset as tableFormset %}
                        {% include "multiitem_table.html" %}
                    {% endwith %}
                </fieldset>
                {% endwith %}
            </div>
            {% endfor %}
            {% with formsets.grants.empty_form as form %}
            <div class="grant_wrapper">
                {% include "inline_form.html" %}

                {% with form.nested.0 as formset %}
                <fieldset>
                    {{ formset.management_form }}
                    {% with formset as tableFormset %}
                        {% include "multiitem_table.html" %}
                    {% endwith %}
                </fieldset>
                {% endwith %}

                {% with form.nested.1 as formset %}
                <fieldset>
                    {{ formset.management_form }}
                    {% with formset as tableFormset %}
                        {% include "multiitem_table.html" %}
                    {% endwith %}
                </fieldset>
                {% endwith %}
            </div>
            {% endwith %}
        </div>
    </fieldset>
    <input type="submit" value="Save" />


</form>
{% endblock %}
