{% extends "base.html" %}

{% block title %}Edit CV{% endblock %}

{% block morehead %}
<script type="text/javascript">
var grantData = eval('{{ grantData }}');
var investigatorData = eval('{{ investigatorData }}');
var grantYearData = eval('{{ grantYearData }}');

function renumberElement(regexp, repl, elem) {
    if (elem.id)
        elem.id = elem.id.replace(regexp, repl);
    if (elem.name)
        elem.name = elem.name.replace(regexp, repl);
}

$(document).ready(function() {
    var blank = $("#service > .service_wrapper:last");
    var errorElems = $(".service_wrapper:has(.error)");
    var totalElem = $("#service > .management > input[name$=\"-TOTAL_FORMS\"]");
    var total = parseInt(totalElem.val());

    $(".service_wrapper").hide();

    $(".form_select").change(function() {
        // service select changed
        var selectedID = $(this).val();
        var prev = $(".service_wrapper:visible");

        $(prev).hide();

        if (selectedID)
            $(".service_wrapper[name=\"" + selectedID + "\"]").show();
    });

    $("[name $= \"committee\"]").keyup(function() {
        // update select element option string to reflect new values
        var curService = $(".service_wrapper:visible");

        if (curService.length > 0) {
            var newOptStr = "";

            newOptStr = $(curService).find("[name $= \"committee\"]").val();

            $(".form_select > [value = \"" + $(curService).attr("name") + "\"]").html(newOptStr);
        }
    });

    $(".addservice").click(function () {
        var newService = $(blank).clone(true);
        var newOpt = $("<option value=\"new-" + total + "\">new</option>");

        $(".service_wrapper:visible").hide();

        ($(newService).children("[name *= \"__prefix__\"]").add($(newService).children("div").find("[name *= \"__prefix__\"]"))).each(function() {
            renumberElement(new RegExp("(__prefix__)"), total, this);
        });

        $(newService).find("[name *= \"__prefix__\"]").each(function() {
            renumberElement(new RegExp("(__prefix__)"), "0", this);
        });

        $(newService).insertBefore(".service_wrapper:last").show();
        $(newService).attr("name", "new-" + total);
        $(".form_select").append(newOpt);
        $(".form_select").val(newOpt.val());
        $(totalElem).val(++total);
    });

    var opts = [];
    var new_count = 0;

    $(".service_wrapper:not(:last)").each(function () {
        // name each grant_wrapper by their id value (primary key) and create an
        // array of <option> elements coresponding to each service form
        var id = $(this).children("[name$=\"-id\"]").val();
        var optElem = $("<option></option>");
        
        if (id)
            $(this).attr("name", id);
        else
            $(this).attr("name", "new-" + parseInt(new_count++));
        

        $(optElem).val($(this).attr("name"));
        $(optElem).text($(this).find("[name $= \"committee\"]").val());
        
        opts.push(optElem);
    });
    
    opts.sort(function(a, b) {
        // sort <option>s by service committee name
        var aName = $(a).text().toLowerCase();
        var bName = $(b).text().toLowerCase();

        if (aName < bName)
            return -1;
        else if (aName > bName)
            return 1;
        else
            return 0;
    });
    
    for (i in opts)
        $(".form_select").append(opts[i]);

    if (sessionStorage.getItem("lastForm")) {
        $(".form_select").val(sessionStorage.getItem("lastForm"));
        $(".form_select").trigger("change");
        sessionStorage.removeItem("lastForm");
    }
    
    $("form").submit(function() {
        sessionStorage.setItem("lastForm", $(".form_select").val());
    });

    if (errorElems.length > 0) {
        var first = $(errorElems).first();

        $(".service_wrapper").hide();

        $(first).show();
        $(".form_select").val($(first).attr("name"));

        $(".form_select").addClass("error");
    }

    $(errorElems).each(function() {
        var id = $(this).children("[name$=\"-id\"]").val();

        // mark option in select element
        $(".form_select > [value=\"" + id + "\"]").addClass("error");
    });
});
</script>

{% endblock %}

{% block content %}
<h2>Service and Administrative Contributions</h2>

<form method="post" action="{% url cv-service %}">
    {% csrf_token %}

    <fieldset id="service">
        <legend>{{formsets.service.label }} <span class="clickable addservice">add</span></legend>
        {{ forms.service.non_form_errors }}
        <select class="form_select">
            <option selected="selected">---------</option>
        </select>
        <div class="management">
            {{ formsets.service.management_form }}
        </div>
        {% for form in formsets.service.forms %}
            <div class="service_wrapper">
                {% include "inline_form.html" %}
            </div>
        {% endfor %}
    
        <div class="service_wrapper">
            {% with formsets.service.empty_form as form %}
                {% include "inline_form.html" %}
            {% endwith %}
        </div>
    </fieldset>
    <input type="submit" value="Save" />
</form>
{% endblock %}
