{% extends "base.html" %}

{% block content %}
<h2>Service and Administrative Contributions</h2>

<ol type="a">

<li>
<h3 id="department_committees_and_similar_bodies">
    Department Committees and Similar Bodies with Dates</h3>

<table border="1" a>

  <tr>
    <th>Sem/Year to Sem/Year</th>
    <th>Committee Name</th>
    <th>C or M</th>
    <th>Name of Chair</th>
    <th>Other Info</th>
  </tr>

  <tr>
    <td>
        <form action="">
        <input type="text" size="5"/> to <input type="text" size="5"/></form>
    </td>

    <td>
        <form action="">
        <input type="text" size="30"/></form>
    </td>

     <td>
        <form action="">
        <input type="text" size="2"/></form>
    </td>

     <td>
        <form action="">
        <input type="text" size="25"/></form>
    </td>
    <td>
        <form action="">
        <input type="text" size="25"/></form>
    </td>
  </tr>
</table>

</li>

<li>
<h3 id="college_committees_and_similar_bodies">College Committees and Similar Bodies with Dates</h3>
<table border="1" a>

  <tr>
    <th>Sem/Year to Sem/Year</th>
    <th>Committee Name</th>
    <th>C or M</th>
    <th>Name of Chair</th>
    <th>Other Info</th>
  </tr>

  <tr>
    <td>
        <form action="">
        <input type="text" size="5"/> to <input type="text" size="5"/></form>
    </td>

    <td>
        <form action="">
        <input type="text" size="30"/></form>
    </td>

     <td>
        <form action="">
        <input type="text" size="2"/></form>
    </td>

     <td>
        <form action="">
        <input type="text" size="25"/></form>
    </td>
    <td>
        <form action="">
        <input type="text" size="25"/></form>
    </td>
  </tr>
</table>
</li>

<li>
<h3 id="university_committees_and_similar_bodies">University Committees and Similar Bodies with Dates</h3>
<table border="1" a>

  <tr>
    <th>Sem/Year to Sem/Year</th>
    <th>Committee Name</th>
    <th>C or M</th>
    <th>Name of Chair</th>
    <th>Other Info</th>
  </tr>

  <tr>
    <td>
        <form action="">
        <input type="text" size="5"/> to <input type="text" size="5"/></form>
    </td>

    <td>
        <form action="">
        <input type="text" size="30"/></form>
    </td>

     <td>
        <form action="">
        <input type="text" size="2"/></form>
    </td>

     <td>
        <form action="">
        <input type="text" size="25"/></form>
    </td>
    <td>
        <form action="">
        <input type="text" size="25"/></form>
    </td>
  </tr>
</table>
</li>

<li>
<h3 id="external_committees_and_similar_bodies">
    External/Professional Committees and Similar Bodies with Dates</h3>
<table border="1" a>

  <tr>
    <th>Sem/Year to Sem/Year</th>
    <th>Committee Name</th>
    <th>C or M</th>
    <th>Name of Chair</th>
    <th>Other Info</th>
  </tr>

  <tr>
    <td>
        <form action="">
        <input type="text" size="5"/> to <input type="text" size="5"/></form>
    </td>

    <td>
        <form action="">
        <input type="text" size="30"/></form>
    </td>

     <td>
        <form action="">
        <input type="text" size="2"/></form>
    </td>

     <td>
        <form action="">
        <input type="text" size="25"/></form>
    </td>
    <td>
        <form action="">
        <input type="text" size="25"/></form>
    </td>
  </tr>
</table>
</li>

</ol>
{% endblock %}
