{% extends "base.html" %}

{% block title %}Edit CV{% endblock %}

{% block content %}
<h2>Teaching and Learning</h2>

<form method="post" action="{% url cv-teaching-graduate %}">
    {% csrf_token %}
    <fieldset id="advisor">
        {{ formsets.advisor.management_form }}
        {% with formsets.advisor as tableFormset %}
            {% include "multiitem_table.html" %}
        {% endwith %}
    </fieldset>
    <fieldset id="committee">
        {{ formsets.committee.management_form }}
        {% with formsets.committee as tableFormset %}
            {% include "multiitem_table.html" %}
        {% endwith %}
    </fieldset>
    <fieldset id="examiner">
        {{ formsets.examiner.management_form }}
        {% with formsets.examiner as tableFormset %}
            {% include "multiitem_table.html" %}
        {% endwith %}
    </fieldset>
    <input type="submit" value="Save" />
</form>
{% endblock %}
